body {
    background-color: #136f63;
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav {
    display: grid;
    background-color: #041b15;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    color: #136f63;
    font-size: medium;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(10px, auto);
    grid-auto-columns: minmax(10px, auto);


}

img {
    background-color: white;
    padding: 5px;
}

p {
    font-family: 'Roboto';
}

.color1 .color2 .color3{
    display: grid;
    grid-area: left;
}

.card1 {
    padding: 10px;
    width: 80%;
    height: auto;
    background: #4ce0d2;
    border: 1px solid #041b15;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.card2 {
    padding: 10px;
    width: 80%;
    background: #4ce0d2;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.card3 {
    padding: 10px;
    width: 80%;
    background: #4ce0d2;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.card4 {
    padding: 10px;
    width: 80%;
    background: #4ce0d2;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.wireframe {
    width: 90%;
}

@media (width <= 1000px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media (width <= 500px) {
    main {
        grid-template-columns: 1fr;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');