@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background-color: #f4f1de;
    --header-color: #81B29A;
    --accent-color: #3D405B;
    --text-color: #33354c;
    --other-color: #F2CC8F;
    --another-color: #E07A5F;

    /* Dark Side */
    --dark-background-color: #0b0e21;
    --dark-header-color: #7e4d65;
    --dark-accent-color: #c2bfa4;
    --dark-text-color: #cccab3;
    --dark-other-color: #0d3370;
    --dark-another-color: #1f85a0;
}

ul {
    list-style: none;
}

.light-header {
    text-align: center;
    background-color: var(--header-color);
    padding: 5px;
}

.light-header img {
    height: 150px;
    margin: 20px;
}

.light-header h1 {

    text-align: center;
    margin-top: 40px;
    color: var(--text-color);
}

.dark-header {

    text-align: center;
    background-color: var(--dark-header-color);
    padding: 5px;
}

.dark-header img {
    height: 150px;
    margin: 20px;
}

.dark-header h1 {
    text-align: center;
    margin-top: 40px;
    color: var(--dark-text-color);
}

.hide {
    display: none;
}

#hamburger-button {
    background-color: inherit;
    font-size: 20px;
    padding: 15px;
}

#hamburger-button::before {
    content: "≡";
}

#hamburger-button.open::before {
    content: "X";
}

.light-nav-visibility ul {
    background-color: var(--text-color);
    color: white;
    padding-inline-start: 0px;
}

.light-nav-visibility ul li {
    text-align: center;
    margin: 20px;
}

.light-nav-visibility ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.dark-nav-visibility ul {
    background-color: var(--dark-text-color);
    color: black;
    padding-inline-start: 0px;
}

.dark-nav-visibility ul li {
    text-align: center;
    margin: 20px;
}

.dark-nav-visibility ul li a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.light-body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
}

.dark-body {
    font-family: "Roboto", sans-serif;
    background-color: var(--dark-background-color);
}

#light-content {
    max-width: 800px;
    margin: 0 auto;
}

#dark-content {
    max-width: 800px;
    margin: 0 auto;
}


.light-hero {
    position: relative;
}

.light-hero img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.light-hero button {
    position: absolute;
    left: 43%;
    bottom: 50px;
}

.light-events {
    border: 3px var(--accent-color) solid;
    padding: 10px;
    margin: 5px;
    border-radius: 50px 15px;
}

.light-weather {
    text-align: center;
    border: 3px var(--accent-color) solid;
    padding: 10px;
    margin: 5px;
    border-radius: 15px 50px;
}

.light-spotlights {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.light-spotlight1 {
    border: 3px var(--accent-color) solid;
    padding: 10px;
    margin: 5px;
    border-radius: 50px 15px;
    text-align: center;
}

.light-spotlight2 {
    border: 3px var(--accent-color) solid;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}

.light-spotlight3 {
    border: 3px var(--accent-color) solid;
    padding: 10px;
    margin: 5px;
    border-radius: 15px 50px;
    text-align: center;
}

.light-footer {
    text-align: center;
    background-color: var(--header-color);
    color: var(--text-color);
}

.light-footer p {
    margin: 5px;
}

.dark-footer p {
    margin: 5px;
}

.dark-hero {
    position: relative;
}

.dark-hero img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dark-hero button {
    position: absolute;
    left: 43%;
    bottom: 50px;
}

.dark-events {
    border: 3px var(--dark-accent-color) solid;
    padding: 10px;
    margin: 5px;
    border-radius: 50px 15px;
}

.dark-weather {
    text-align: center;
    border: 3px var(--dark-accent-color) solid;
    padding: 10px;
    margin: 5px;
    border-radius: 15px 50px;
}

.dark-spotlights {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.dark-spotlight1 {
    border: 3px var(--dark-accent-color) solid;
    padding: 10px;
    margin: 5px;
    border-radius: 50px 15px;
    text-align: center;
}

.dark-spotlight2 {
    border: 3px var(--dark-accent-color) solid;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}

.dark-spotlight3 {
    border: 3px var(--dark-accent-color) solid;
    padding: 10px;
    margin: 5px;
    border-radius: 15px 50px;
    text-align: center;
}

.dark-footer {
    text-align: center;
    background-color: var(--dark-header-color);
    color: var(--dark-text-color);
}

.light-events h3 {
    color: var(--text-color);
    text-align: center;
}

.light-events h4 {
    color: var(--text-color);
    text-align: center;
}

.light-events p {
    color: var(--text-color);
    text-align: center;
}

.dark-events h3 {
    color: var(--dark-text-color);
    text-align: center;
}

.dark-events h4 {
    color: var(--dark-text-color);
    text-align: center;
}

.dark-events p {
    color: var(--dark-text-color);
    text-align: center;
}

.light-weather h3 {
    color: var(--text-color);
}

.light-weather p {
    color: var(--text-color);
}

.dark-weather h3 {
    color: var(--dark-text-color);
}

.dark-weather p {
    color: var(--dark-text-color);
}

.light-spotlight1 h3 {
    color: var(--text-color);
}

.light-spotlight1 p {
    color: var(--text-color);
}

.dark-spotlight1 h3 {
    color: var(--dark-text-color);
}

.dark-spotlight1 p {
    color: var(--dark-text-color);
}

.light-spotlight2 h3 {
    color: var(--text-color);
}

.light-spotlight2 p {
    color: var(--text-color);
}

.dark-spotlight2 h3 {
    color: var(--dark-text-color);
}

.dark-spotlight2 p {
    color: var(--dark-text-color);
}

.light-spotlight3 h3 {
    color: var(--text-color);
}

.light-spotlight3 p {
    color: var(--text-color);
}

.dark-spotlight3 h3 {
    color: var(--dark-text-color);
}

.dark-spotlight3 p {
    color: var(--dark-text-color);
}

#top-header {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.light-events img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.dark-events img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.light-weather a {
    text-decoration: none;
    color: var(--text-color);

}

.dark-weather a {
    text-decoration: none;
    color: var(--dark-text-color);
}

.light-spotlight1 a {
    text-decoration: none;
    color: var(--text-color);
}

.dark-spotlight1 a {
    text-decoration: none;
    color: var(--dark-text-color);
}

.light-spotlight2 a {
    text-decoration: none;
    color: var(--text-color);
}

.dark-spotlight2 a {
    text-decoration: none;
    color: var(--dark-text-color);
}

.light-spotlight3 a {
    text-decoration: none;
    color: var(--text-color);
}

.dark-spotlight3 a {
    text-decoration: none;
    color: var(--dark-text-color);
}

.light-spotlight1 img {
    width: 100%;
}

.light-spotlight2 img {
    width: 100%;
}

.light-spotlight3 img {
    width: 100%;
}

.dark-spotlight1 img {
    width: 100%;
}

.dark-spotlight2 img {
    width: 100%;
}

.dark-spotlight3 img {
    width: 100%;
}

/* latest edits */

.light-discover-events {
    background-color: var(--header-color);
    color: var(--text-color);
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
}

.dark-discover-events {
    background-color: var(--dark-header-color);
    color: var(--dark-text-color);
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
}

.light-discover-pics {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px var(--header-color) solid;
    padding: 10px;
}

.dark-discover-pics {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px var(--dark-header-color) solid;
    padding: 10px;
}

.light-discover-pic {
    width: 100%;
    text-align: center;
    border: 2px var(--header-color) solid;
    margin-top: 5px;
}

.dark-discover-pic {
    width: 100%;
    text-align: center;
    border: 2px var(--dark-header-color) solid;
    margin-top: 5px;
}

.light-discover-pic p {
    padding: 5px;
    color: var(--text-color);
}

.dark-discover-pic p {
    padding: 5px;
    color: var(--dark-text-color);
}

.light-discover-pic img {
    padding-top: 10px;
}

.dark-discover-pic img {
    padding-top: 10px;
}

.light-discover-pic h3 {
    color: var(--text-color);
}

.dark-discover-pic h3 {
    color: var(--dark-text-color);
}

/* Form stuff */

form label.top input,
form label.top select {
    display: block;
    border: solid 1px var(--text-color);
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
    max-width: 17rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form input.submitBtn {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 1rem 0 2rem 2%;
    width: 96%;
    max-width: 17rem;
}

form ::placeholder {
    color: var(--text-color);
}

form p {
    margin-bottom: 0;
}

form textarea {
    background-color: var(--other-color);
    border: 1px solid var(--text-color);
}

.info h1 {
    color: var(--text-color);
}

/* thank you */
.light-thankyou {
    text-align: center;
    padding: 3rem;
    color: var(--text-color);
}

.dark-thankyou {
    text-align: center;
    padding: 3rem;
    color: var(--dark-text-color);
}

.membership {
    color: var(--text-color);
}

.top {
    color: var(--text-color);
}

.light-formblock {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dark-formblock {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

fieldset {
    padding: 15px;
}

.light-benefits {
    margin: 2.25rem;
    padding: 15px;
    border: 1px solid var(--text-color);
}

.light-form {
    margin: 1rem;
    padding: 15px;
}

.dark-benefits {
    margin: 2.25rem;
    padding: 15px;
    border: 1px solid var(--dark-text-color);
}

.dark-form {
    margin: 1rem;
    padding: 15px;
}

.light-benefits ul li {
    color: var(--text-color);
}

.light-benefits h3,
.light-benefits h2 {
    color: var(--text-color);
}

.dark-benefits ul li {
    color: var(--dark-dark-text-color);
}

.dark-benefits h3,
.dark-benefits h2 {
    color: var(--dark-dark-text-color);
}

.light-directory-cards section img {
    width: 180px;
    display: block;
    margin: auto;
}

.light-directory-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.light-directory-cards section {
    border: 3px solid var(--accent-color);
    margin: 4%;
    background-color: var(--another-color);
    box-shadow: 5px 5px var(--accent-color);
    padding: 1rem;
    color: var(--text-color);
    text-align: center;
}

.dark-directory-cards section img {
    width: 180px;
    display: block;
    margin: auto;
}

.dark-directory-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.dark-directory-cards section {
    border: 3px solid var(--dark-accent-color);
    margin: 4%;
    background-color: var(--dark-another-color);
    box-shadow: 5px 5px var(--dark-accent-color);
    padding: 1rem;
    color: var(--dark-text-color);
    text-align: center;
}


.light-card-website {
    text-decoration: none;
    color: var(--text-color);
}

.dark-card-website {
    text-decoration: none;
    color: var(--dark-text-color);
}

.card-website:hover {
    font-size: 110%;
}

.light-directory-list section img {
    display: none;
}

.light-directory-list section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--another-color);
    margin: 1rem;
    color: var(--text-color);
    box-shadow: 5px 5px var(--accent-color);
}

.light-directory-list section:hover {
    transform: scale(1.01);
}

.dark-directory-list section img {
    display: none;
}

.dark-directory-list section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--dark-another-color);
    margin: 1rem;
    color: var(--dark-text-color);
    box-shadow: 5px 5px var(--dark-accent-color);
}

.dark-directory-list section:hover {
    transform: scale(1.01);
}

.light-forecast {
    display: grid;
    grid-template-columns: repeat(1fr 1fr 1fr);
    border: 2px solid var(--text-color);
    margin: 1rem;
    text-align: center;
    border-radius: 15px;
}

.dark-forecast {
    display: grid;
    grid-template-columns: repeat(1fr 1fr 1fr);
    border: 2px solid var(--dark-text-color);
    margin: 1rem;
    text-align: center;
    border-radius: 15px;
}
.light-forecast ul{
    margin-left: 1rem;
    padding-left: 1rem;
    color: var(--text-color)
}
.dark-forecast ul{
    margin-left: 1rem;
    padding-left: 1rem;
    color: var(--dark-text-color)
}

.light-meet-greet.show{
    display: block;
    text-align: center;
    background-color: var(--header-color);
    padding: 5px;
}
.light-meet-greet {
    display: none;
}

.dark-meet-greet.show{
    display: block;
    text-align: center;
    background-color: var(--dark-header-color);
    padding: 5px;
}
.dark-meet-greet {
    display: none;
}