@media screen and (min-width:800px){
    .light-nav-visibility ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .light-nav-visibility{
        display: block;
    }
    
    .dark-nav-visibility ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .dark-nav-visibility{
        display: block;
    }

    #hamburger-button{
        display: none;
    }
    .spotlights {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}