@media screen and (min-width:800px){
    .light-nav-visibility ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .light-nav-visibility{
        display: block;
    }
    
    .dark-nav-visibility ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .dark-nav-visibility{
        display: block;
    }

    #hamburger-button{
        display: none;
    }
    .spotlights {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    /* latest edits */
    .light-discover-cards {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    .dark-discover-cards {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .light-discover-pic img:hover {
        box-shadow: 5px 5px black;
        filter: blur(2px);
        border: 2px var(--header-color) solid;
    }
    .dark-discover-pic img:hover {
        box-shadow: 5px 5px black;
        filter: blur(2px);
        border: 2px var(--dark-header-color) solid;
    }

    .light-directory-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .dark-directory-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

