@media screen and (max-width: 799px){
    .nav-visibility{
        display: none;
    }
    #hamburger-button{
        display: block;
    }
    
    .spotlights {
        display: grid;
        grid-template-columns: 1fr;
    }
}