@media screen and (max-width: 799px){
    .light-nav-visibility{
        display: none;
    }
    .dark-nav-visibility{
        display: none;
    }
    #hamburger-button{
        display: block;
    }
    
    .spotlights {
        display: grid;
        grid-template-columns: 1fr;
    }

    .light-directory-cards {
        display: grid;
        
    }
    .dark-directory-cards {
        display: grid;
        
    }
}