body {
    background-color: #136f63;
    text-align: center;
}

nav {
    display: grid;
    background-color: #041b15;

}

a {
    text-decoration: none;
    color: #136f63;
    font-size: medium;
}

main {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;

}

header {
    grid-column: 1/3;
}

h1 {
    /*space cadet*/
    color: #041b15;
}

h2 {
    /*space cadet*/
    color: #041b15;
    grid-column: 2/3;
}

h3 {
    /*space cadet*/
    color: #041b15;
}

img.profilePicture {
    width: 10%;
    height: 10%;
}

section {
    background-color: #4ce0d2;
    grid-column: 2/3;
}

p {
    background-color: #041b15
}

/* Colors used: https://coolors.co/041b15-136f63-22aaa1-4ce0d2  */